<head>
    <link rel="icon" href="{{ url_for('static', filename='cat.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" type="text/css">
</head>

<body>

    {% for message in get_flashed_messages() %}
    <script>
        alert("{{ message }}");
    </script>
    {% endfor %}

    {% if current_user.is_authenticated %}
        <p>Hello, {{ current_user.name }}. <a href="{{ url_for('logout') }}">Logout</a></p>
    {% else %}
        <p><a href="{{ url_for('login') }}">Login</a> or <a href="{{ url_for('register') }}">Register</a></p>
    {% endif %}

    <p>
        Welcome! {{ users | length }} users total.
    </p>

    <ul>
        {% for user in users %}
        <li> Hello! {{ user.name }}. </li>
        {% endfor %}
    </ul>

</body>


