<head>
    <link rel="icon" href="{{ url_for('static', filename='cat.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" type="text/css">
</head>

<body>

    {% for message in get_flashed_messages() %}
    <script>
        alert("{{ message }}");
    </script>
    {% endfor %}

    <form action="/login" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password"><br><br>
        <img src="/captcha" alt="captcha"><br>
        <label for="captcha">Captcha:</label>
        <input type="text" id="captcha" name="captcha">
        <button type="button" onclick="refreshCaptcha()">Refresh</button><br><br>
        <button type="submit">Login</button>
    </form>
    <script>
        function refreshCaptcha() {
            document.querySelector('img[alt="captcha"]').src = '/captcha?' + new Date().getTime();
        }
    </script>

    <p>
        Don't have an account? <a href="{{ url_for('register') }}">Register</a>
    </p>

</body>
