<head>
    <link rel="icon" href="{{ url_for('static', filename='cat.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" type="text/css">
</head>

<body>

    {% for message in get_flashed_messages() %}
    <script>
        alert("{{ message }}");
    </script>
    {% endfor %}

    <h2>Products</h2>

    <a href="{{ url_for('new_product') }}">Add New Product</a>

    <ul>

        {% for product in products %}
        <li>
            {{ product.name }} - ${{ product.price }} - {{ product.origin }} - Inventory: {{ product.inventory }}
            <a href="{{ url_for('edit_product', id=product.id) }}">Edit</a>
            <a href="{{ url_for('delete_product', id=product.id) }}">Delete</a>
        </li>
            {% if product.image %}
                    <img src="{{ url_for('static', filename='uploads/' + product.image) }}" alt="{{ product.name }}" width="100">
                    <a href="{{ url_for('static', filename='uploads/' + product.image) }}" download>Download Image</a>
            {% endif %}
        <form action="{{ url_for('upload_image', product_id=product.id) }}" method="post" enctype="multipart/form-data">
            <input type="file" name="image" accept="image/*" required>
            <input class="btn" type="submit" name="submit" value="Upload Image">
        </form>
        {% endfor %}

    </ul>

    <a href="{{ url_for('index') }}">Back</a>

    
</body>
