<head>
    <link rel="icon" href="{{ url_for('static', filename='cat.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" type="text/css">
</head>

<body>

    {% for message in get_flashed_messages() %}
    <script>
        alert("{{ message }}");
    </script>
    {% endfor %}

    <h2>Products Managed by {{ saler.name }}</h2>

    <ul>
        {% for product in products %}
        <li>
            {{ product.name }} - ${{ product.price }} - {{ product.origin }} - Inventory: {{ product.inventory }}
            <a href="{{ url_for('buy', product_id=product.id) }}">Buy</a>
        </li>
        {% endfor %}
    </ul>

    <a href="{{ url_for('index') }}">Back</a>

</body>
